@import '../../mixins/mixins';
@import '../../variables/variable';


#shopBread{
    padding-top: 13px;
    .breadcrumb{
        li{
            font-size: 14px;
            a{
                font-size: 14px;
                color: #000;
            }
        }
    }
}