#pages-counter{
    padding-bottom: 83px;
    .counter-head{
        h2{
            color: #ccc;
            font-size: 67px;
            font-weight: 700;
            font-family: 'Poppins', sans-serif;
        }
    }
    h4{
        color: #000;
        font-weight: 700;
        font-size: 23px;
    }
    p{
        color: #000;
        font-size: 15px;
        padding: 0 83px;
    }
}