#about-us{
    padding: 0 0 50px 0;
    .pages-head{
        text-align: center;
        h1{
            padding: 0 15%;
            font-weight: 700;
            font-family: 'Poppins', sans-serif;
            margin-bottom: 15px;
            margin-top: 75px;
        }
        p{
            padding: 0 24%;
            margin-bottom: 15px;
        }
    }
.about-banner{
    padding: 200px 0;
    border-radius: 15px;
}
}