@mixin fs($c, $fs, $fw, $ff) {
    color: $c;
    font-size: $fs;
    font-weight: $fw;
    font-family: $ff;
}
@mixin after1($l, $t, $w, $h, $bg) {
    position: absolute;
    content: '';
    left: $l;
    top: $t;
    width: $w;
    height: $h;
    background: $bg;
}
@mixin after2($l, $b, $w, $h, $bg) {
    position: absolute;
    content: '';
    left: $l;
    bottom: $b;
    width: $w;
    height: $h;
    background: $bg;
}
@mixin after3($r, $t, $w, $h, $bg) {
    position: absolute;
    content: '';
    right: $r;
    top: $t;
    width: $w;
    height: $h;
    background: $bg;
}
