@import '../../mixins/mixins';
@import '../../variables/variable';


#BlogBread{
    padding-top: 13px;
    .blog-head{
        background: #eee;
        padding: 60px;
        h2{
            @include fs($cl1, 33px, 700, $ff1);
        }
    }
    .breadcrumb{
        border-bottom: 1px solid #eee;
        li{
            font-size: 14px;
            a{
                font-size: 14px;
                color: #000;
                padding-bottom: 10px;
            }
        }
    }
}