@import '../../mixins/mixins';
@import '../../variables/variable';
#service {
    padding: 30px 0;
    // border: 2px solid #eee;

    .service-slider {
        h3 {
            font-size: 14px;
            position: relative;
            margin-left: 100px;
            font-weight: 600;


            i {
                font-size: 31px;
                position: absolute;
                left: -48px;
                bottom: -14px;
                color: #369;

            }
        }

        h5 {
            margin-left: 101px;
            font-size: 12px;
            font-weight: 300;
        }
    }





    .bb {
        padding: 30px 0;
        border: 2px solid #eee;
    }


}